.portfolio {
    background: url("../images/portfolio/portfolio-bg.png") no-repeat;
    &__title-block {
        height: 270px;
        @include flex-center;

        h2 {
            color: var(--color-white);
            border: 8px solid var(--color-white);
        }

        @include mobile {
            height: 200px;
        }
    }

    &__project {
        &-list {
            display: flex;
            column-gap: 0.5vw;
            row-gap: 10px;
            flex-wrap: wrap;
            background: var(--color-dark-gray);

            @include tablet {
                column-gap: 1vw;
            }

            @include mobile {
                justify-content: center;
                row-gap: 20px;
                padding-bottom: 20px;
            }
        }

        &-item {
            position: relative;
            height: 20vw;
            // @include hover {
            //     opacity: 0.7;
            // }
            @include tablet {
                height: 30vw;
            }
            @include mobile {
                height: 45vw;
            }
        }

        &-image {
            width: 33vw;
            height: 20vw;

            @include tablet {
                width: 49.5vw;
                height: 30vw;
            }

            @include mobile {
                width: 90vw;
                height: 45vw;
            }
        }

        &-hover {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            background-color: #000000dc;
            overflow: hidden;

            transition: var(--transition-duration);
        }

        &-description {
            max-width: 70%;
            margin: 15% auto 10%;
            text-align: center;
        }

        &-btn-block {
            width: 100%;
            display: flex;
            justify-content: center;
            column-gap: 20%;
        }

        &-button {
            border-inline: 2px solid currentColor;
            padding-inline: 20px;
            height: 30px;
            @include flex-center;

            @include hover {
                color: rgb(84, 185, 121)
            }
        }
    }
}
