:root {
	--color-black: #000;
	--color-white: #e0e0e0;
    --color-gray: #334249;
    --color-light-gray: #658592;
    --color-dark-gray: #283539;

	--border: 8px solid var(--color-black);
    --border-radius: 30px;
    --shadow: 0 4px 4px 0 var(--color-black);

    --font-family-base: 'Montserrat', 'sans-serif'
    
    --button-height: 107px;
    --header-button-height: 46px;

    --transition-duration: 0.3s;
}
