@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  height: 100%;
  /**
   Убираем скачок интерфейса по горизонтали
   при появлении / исчезновении скроллбара
  */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html {
  scroll-behavior: smooth;
}

body {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  min-height: 100%;
  /**
   Унифицированный интерлиньяж
  */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;
  color: var(--color-white);
}

a,
button,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  letter-spacing: 0.36em;
  height: 110px;
  padding-inline: calc(50px + 0.36em) 50px;
  margin: 0;
  border: 8px solid var(--color-white);
  text-wrap: nowrap;
}

h3 {
  font-size: 30px;
  margin-block: 0 50px;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

:root {
  --color-black: #000;
  --color-white: #e0e0e0;
  --color-gray: #334249;
  --color-light-gray: #658592;
  --color-dark-gray: #283539;
  --border: 8px solid var(--color-black);
  --border-radius: 30px;
  --shadow: 0 4px 4px 0 var(--color-black);
  --font-family-base: "Montserrat", "sans-serif"

  --button-height: 107px;
  --header-button-height: 46px;
  --transition-duration: 0.3s;
}

.hero {
  width: 100vw;
  height: 100svh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--color-gray);
}
.hero::before {
  content: "";
  position: absolute;
  width: 65vw;
  height: 100%;
  background-color: var(--color-black);
  right: 0;
  clip-path: polygon(35% 0, 100% 0, 100% 100%, 0 100%);
}
@media (max-width: 1280px) {
  .hero::before {
    width: 90vw;
    clip-path: polygon(45% 0, 100% 0, 100% 100%, 0 100%);
  }
}
.hero__image {
  z-index: 100;
}
@media (max-width: 1280px) {
  .hero__image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 600px;
  }
}
@media (max-height: 800px) {
  .hero__image {
    width: 70vh;
  }
}
.hero__wrapper {
  width: 80vw;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1280px) {
  .hero__wrapper {
    width: 90vw;
    justify-content: start;
    row-gap: 70px;
  }
}
@media (max-width: 767px) {
  .hero__wrapper {
    justify-content: space-between;
  }
}
.hero__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5vh;
  z-index: 100;
}
@media (max-width: 767px) {
  .hero__header .logo__image {
    width: 60px;
  }
}
@media (max-width: 1023px) {
  .hero__header {
    padding-top: 3vh;
  }
}
@media (max-width: 1023px) {
  .hero__header-nav {
    height: 100%;
  }
}
.hero__header-nav-list {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
  font-size: 20px;
  font-weight: bold;
  color: var(--color-white);
}
@media (max-width: 1023px) {
  .hero__header-nav-list {
    -moz-column-gap: 10px;
         column-gap: 10px;
    font-size: 18px;
    font-weight: normal;
    height: 100%;
  }
}
.hero__header-nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  border: 4px solid transparent;
  border-radius: 15px;
}
@media (max-width: 1023px) {
  .hero__header-nav-link {
    height: 100%;
  }
}
@media (hover: hover) {
  .hero__header-nav-link:hover {
    border-color: currentColor;
    border-radius: 15px;
  }
}
@media (hover: none) {
  .hero__header-nav-link:active {
    border-color: currentColor;
    border-radius: 15px;
  }
}
.hero__content {
  display: flex;
  justify-content: space-between;
}
.hero__content-left {
  display: flex;
  flex-direction: column;
  z-index: 500;
}
@media (max-width: 1023px) {
  .hero__content-left {
    max-width: 400px;
  }
}
@media (max-width: 767px) {
  .hero__content-left::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 43vh;
    background: var(--color-black);
    clip-path: polygon(0 0, 100% 40%, 100% 100%, 0 100%);
    opacity: 0.7;
  }
}
.hero__content-welcome {
  font-size: 40px;
  font-weight: bold;
  margin-block: 30px 40px;
}
@media (max-width: 1280px) {
  .hero__content-welcome {
    font-size: 30px;
    margin-block: 20px 30px;
  }
}
@media (max-width: 1023px) {
  .hero__content-welcome {
    font-weight: normal;
  }
}
@media (max-width: 767px) {
  .hero__content-welcome {
    display: none;
  }
}
.hero__content-name {
  font-size: 76px;
}
@media (max-width: 1280px) {
  .hero__content-name {
    font-size: 62px;
  }
}
@media (max-width: 1023px) {
  .hero__content-name {
    font-size: 55px;
  }
}
@media (max-width: 767px) {
  .hero__content-name {
    z-index: 600;
    font-size: 6.5vh;
  }
}
.hero__content-desc {
  font-size: 30px;
  color: var(--color-light-gray);
  margin-bottom: 15vh;
}
@media (max-width: 1023px) {
  .hero__content-desc {
    margin-block: 3vh 12vh;
  }
}
@media (max-width: 767px) {
  .hero__content-desc {
    z-index: 600;
    margin-block: 1vh 3vh;
  }
}
.hero__content-socials {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (max-width: 767px) {
  .hero__content-socials {
    position: absolute;
    top: 20vh;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
}
.hero__content-social {
  width: 60px;
  height: 60px;
  background-color: var(--color-dark-gray);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1023px) {
  .hero__content-social {
    width: 10vh;
    height: 10vh;
  }
  .hero__content-social svg {
    width: 5.5vh;
    height: 5.5vh;
  }
}
@media (max-width: 767px) {
  .hero__content-social {
    width: 8vh;
    height: 8vh;
  }
  .hero__content-social svg {
    width: 4.8vh;
    height: 4.8vh;
  }
}
@media (hover: hover) {
  .hero__content-social:hover {
    background-color: var(--color-black);
    color: var(--color-gray);
    border-radius: 7px;
    scale: 1.1;
  }
}
@media (hover: none) {
  .hero__content-social:active {
    background-color: var(--color-black);
    color: var(--color-gray);
    border-radius: 7px;
    scale: 1.1;
  }
}

.main {
  width: 100vw;
  z-index: 2000;
}
.main-about-skills-wrapper {
  padding: 150px 23vw;
  background: linear-gradient(180deg, var(--color-gray) 0%, var(--color-light-gray) 100%);
}
@media (max-width: 1280px) {
  .main-about-skills-wrapper {
    padding: 100px 15vw;
  }
}
@media (max-width: 767px) {
  .main-about-skills-wrapper {
    padding: 70px 10vw;
  }
}

.about {
  display: flex;
  flex-direction: column;
  row-gap: 70px;
  align-items: center;
  line-height: 140%;
}
@media (max-width: 767px) {
  .about {
    row-gap: 40px;
  }
}
.about-text {
  text-align: center;
}
.about__skills {
  display: flex;
  -moz-column-gap: 70px;
       column-gap: 70px;
}
@media (max-width: 1023px) {
  .about__skills {
    flex-direction: column;
    row-gap: 70px;
    text-align: center;
  }
}
.about__skills-frontend::before {
  content: url("../images/about/frontend.svg");
  position: absolute;
  translate: -40px -20px;
}
@media (max-width: 1023px) {
  .about__skills-frontend::before {
    translate: -130px -20px;
  }
}
.about__skills-backend::before {
  content: url("../images/about/backend.svg");
  position: absolute;
  translate: -50px -25px;
}
@media (max-width: 1023px) {
  .about__skills-backend::before {
    translate: -130px -25px;
  }
}
.about__skills-item {
  padding-left: 20px;
}
.about__skills-item:not(:last-child) {
  margin-bottom: 15px;
}
@media (max-width: 1023px) {
  .about__skills-item {
    padding: 0 0 15px 0;
  }
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 70px;
  margin-top: 70px;
}
@media (max-width: 767px) {
  .skills {
    margin-top: 50px;
    row-gap: 50px;
  }
}
.skills-using, .skills-learning, .skills-other {
  width: 100%;
}
.skills-list {
  display: flex;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
  flex-wrap: wrap;
  row-gap: 70px;
}
@media (max-width: 1280px) {
  .skills-list {
    -moz-column-gap: 3.33vw;
         column-gap: 3.33vw;
  }
}
@media (max-width: 1023px) {
  .skills-list {
    -moz-column-gap: 0;
         column-gap: 0;
  }
}
.skills-item {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  width: 12vw;
  letter-spacing: 0.14em;
  text-align: center;
}
@media (max-width: 1280px) {
  .skills-item {
    width: 15vw;
  }
}
@media (max-width: 1023px) {
  .skills-item {
    width: 17.5vw;
  }
}
@media (max-width: 767px) {
  .skills-item {
    width: 40vw;
  }
}

.portfolio {
  background: url("../images/portfolio/portfolio-bg.png") no-repeat;
}
.portfolio__title-block {
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio__title-block h2 {
  color: var(--color-white);
  border: 8px solid var(--color-white);
}
@media (max-width: 767px) {
  .portfolio__title-block {
    height: 200px;
  }
}
.portfolio__project-list {
  display: flex;
  -moz-column-gap: 0.5vw;
       column-gap: 0.5vw;
  row-gap: 10px;
  flex-wrap: wrap;
  background: var(--color-dark-gray);
}
@media (max-width: 1023px) {
  .portfolio__project-list {
    -moz-column-gap: 1vw;
         column-gap: 1vw;
  }
}
@media (max-width: 767px) {
  .portfolio__project-list {
    justify-content: center;
    row-gap: 20px;
    padding-bottom: 20px;
  }
}
.portfolio__project-item {
  height: 20vw;
}
@media (hover: hover) {
  .portfolio__project-item:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .portfolio__project-item:active {
    opacity: 0.7;
  }
}
@media (max-width: 1023px) {
  .portfolio__project-item {
    height: 30vw;
  }
}
@media (max-width: 767px) {
  .portfolio__project-item {
    height: 45vw;
  }
}
.portfolio__project-image {
  width: 33vw;
  height: 20vw;
}
@media (max-width: 1023px) {
  .portfolio__project-image {
    width: 49.5vw;
    height: 30vw;
  }
}
@media (max-width: 767px) {
  .portfolio__project-image {
    width: 90vw;
    height: 45vw;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  row-gap: 20px;
  color: var(--color-white);
  background-color: var(--color-dark-gray);
}
.footer__back-to-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.footer__socials-container {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.burger {
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 1500;
}
.burger-button {
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
  margin: 30px auto;
}
.burger-button::before, .burger-button::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: var(--color-white);
}
.burger-button::before {
  top: 0;
  box-shadow: 0 11px 0 var(--color-white);
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}
.burger-button::after {
  bottom: 0;
  transition: bottom 0.3s 0.15s, transform 0.3s;
}
.burger-button.active::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}
.burger-button.active::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom 0.3s, transform 0.3s 0.15s;
}

.burger-menu {
  position: absolute;
  top: -100vh;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  transition: var(--transition-duration);
  display: flex;
  justify-content: center;
  align-items: center;
}
.burger-menu::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-black);
  opacity: 0.9;
}
.burger-list {
  display: flex;
  flex-direction: column;
  row-gap: 10vh;
  font-size: 40px;
  z-index: 300;
}

.loader {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-gray);
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-inner {
  width: 70px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(var(--color-black) 0 0);
  background: var(--c) 0% 100%, var(--c) 50% 100%, var(--c) 100% 100%;
  animation: loader 1s infinite linear;
  z-index: 3000;
}

@keyframes loader {
  0% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
  20% {
    background-size: 20% 60%, 20% 100%, 20% 100%;
  }
  40% {
    background-size: 20% 80%, 20% 60%, 20% 100%;
  }
  60% {
    background-size: 20% 100%, 20% 80%, 20% 60%;
  }
  80% {
    background-size: 20% 100%, 20% 100%, 20% 80%;
  }
  100% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
}
.back-to-top {
  position: fixed;
  right: 2vw;
  top: 85vh;
  border: 4px solid currentColor;
  border-radius: 30px;
  padding: 10px;
  color: var(--color-white);
}
@media (hover: hover) {
  .back-to-top:hover {
    box-shadow: 0 0 10px 5px currentColor;
  }
}
@media (hover: none) {
  .back-to-top:active {
    box-shadow: 0 0 10px 5px currentColor;
  }
}
.back-to-top::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: invert(70%);
          backdrop-filter: invert(70%);
  border-radius: 25px;
  top: 0;
  left: 0;
  z-index: -1;
}

body {
  font-family: "Montserrat";
  overflow-x: hidden;
}

@media (max-width: 767px) {
  h2 {
    font-size: 30px;
    height: 90px;
    min-width: none;
    border: 8px solid var(--color-white);
    padding-inline: calc(20px + 0.36em) 20px;
  }
}

@media (max-width: 767px) {
  h3 {
    margin-block: 0 40px;
  }
}/*# sourceMappingURL=styles.css.map */